<% var Prefix = 'Index' %>

<%- include(setting.COMMON_HEAD_FILE) %>

    <%- include(setting.COMMON_HEADER_FILE) %>

    <main class="<%- Prefix %>-Wrap">

        <section class="<%- Prefix %>-Main">
            <h2 class="<%- Prefix %>-Title">Home</h2>

            <div class="<%- Prefix %>-Bar">
              <progress value="25" max="100" class="progressbar sampleProgress1"></progress>
              <div class="bar1"></div>
            </div>

            <div class="<%- Prefix %>-Bar">
              <progress value="50" max="100" class="progressbar sampleProgress2"></progress>
              <div class="bar2"></div>
            </div>

            <div class="<%- Prefix %>-Bar">
              <progress value="75" max="100" class="progressbar sampleProgress3"></progress>
              <div class="bar3"></div>
            </div>

            <div class="<%- Prefix %>-Bar">
              <progress value="90" max="100" class="progressbar sampleProgress4"></progress>
              <div class="bar4"></div>
            </div>

        </section>

        <%- include(setting.COMMON_SIDE_FILE) %>

    </main>

    <%- include(setting.COMMON_FOOTER_FILE) %>

<%- include(setting.COMMON_FOOT_FILE) %>