<%- include(setting.COMMON_HEAD_FILE) %>

    <%- include(setting.COMMON_HEADER_FILE) %>
    
    <main class="Wrap">

        <section class="Main">
            <h2 class="MainTitle">Index.html</h2>
        </section>
        
        <%- include(setting.COMMON_SIDE_FILE) %>

    </main>

    <%- include(setting.COMMON_FOOTER_FILE) %>

<%- include(setting.COMMON_FOOT_FILE) %>