<% var Prefix = 'PageA' %>

<%- include(setting.COMMON_HEAD_FILE) %>

    <%- include(setting.COMMON_HEADER_FILE) %>

    <main class="<%- Prefix %>-Wrap">

        <section class="<%- Prefix %>-Main">
            <h2 class="MainTitle">Page A</h2>
        </section>

        <%- include(setting.COMMON_SIDE_FILE) %>

    </main>

    <%- include(setting.COMMON_FOOTER_FILE) %>

<%- include(setting.COMMON_FOOT_FILE) %>