<% var Prefix = 'Side' %>

<section class="<%- Prefix %>-Wrap" id="<%- Prefix %>-Wrap">
    <h3 class="<%- Prefix %>-Title">SideBar</h3>
    <ul class="<%- Prefix %>-Link-Wrap">
        <li class="<%- Prefix %>-Link-Item"><a class="<%- Prefix %>-Link-Text" href="<%= setting.URL_HOME %>">Home</a></li>
        <li class="<%- Prefix %>-Link-Item"><a class="<%- Prefix %>-Link-Text" href="<%= setting.URL_PAGEA %>">Page A</a></li>
        <li class="<%- Prefix %>-Link-Item"><a class="<%- Prefix %>-Link-Text" href="<%= setting.URL_PAGEB %>">Page B</a></li>
    </ul>
    <div class="<%- Prefix %>-Button" id="<%- Prefix %>-Button">â†</div>
</section>
