<% var Prefix = 'Side' %>

<section class="<%- Prefix %>-Wrap">
    <ul class="<%- Prefix %>-Link-Wrap">
        <li class="<%- Prefix %>-Link-Item"><a href="<%= setting.URL %>/">Home</li>
        <li class="<%- Prefix %>-Link-Item"><a href="<%= setting.URL %>/pageA">Page A</li>
        <li class="<%- Prefix %>-Link-Item"><a href="<%= setting.URL %>/pageB">Page B</li>
    </ul>
</section>
